* {
    font-family: "Happy Monkey";
}


h1 {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.8rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

body {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.5rem;
}

h2 {
    display: inline-block;
    flex: 1;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ol {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-left: 0;
}

@media (max-width: 568px) {
    ol {
        display: grid;
        flex: 1;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        padding-left: 0;
    }
}

li {
    display: block;
    margin: 0.4rem;
    color: white;
}

label.clickable:hover {
    background-color: rgb(102, 102, 102);
}

label.clickable {
    display: block;
    cursor: pointer;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(54, 54, 54);
}

input {
    display: none;
}

input:checked+label.clickable {
    background-color: red;
    /* background-color: rgb(125, 0, 0); */
}

.correct input:checked+label.clickable {
    background-color: rgb(18, 153, 18);
}

.correct.not-chosen>label {
    /* background-color:rgb(0, 78, 0); */
    background-color: rgb(18, 153, 18);
}

button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.25em;
    /* border-radius: 1em; */

}

/* label+select {
    display: inline;
} */

form {
    display: grid;
    grid-template:
        "a c"
        "b c"
        "d d" / auto auto;
}

/* form div {
    border: 1px solid black;
    margin: 1px;
} */

/* all labels inside an element with an id ending with section */
[id$="section"] label {
    font-weight: bold;
}

#categories-section {
    grid-area: a;
    padding: 10px 0 10px 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 30% 70%;
}

#difficulty-section {
    grid-area: b;
    padding: 10px 0 10px 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 30% 70%;
}

#submit-section {
    grid-area: c;
    /* display: flex; */
    display: grid;
    padding: 10px 0 10px 5px;
}

/* #submit-section button {
    align-self: center;
    align-self: right;
    justify-self: right;
    justify-content: end;

}  */

#questions {
    grid-area: d;
    text-align: center;
}